### This env file is for development purposes. It will be used by the CI.
NODE_ENV=development

POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=polysimdb

KEYCLOAK_DB_PASSWORD=secure_keycloak_db_password_that_is_not_needed_in_dev
KEYCLOAK_ADMIN_PASSWORD=secure_keycloak_admin_password_that_will_never_change_in_dev_but_should_in_prod
KEYCLOAK_REALM=polysim
KEYCLOAK_CLIENT_ID=polysim-app
KEYCLOAK_CLIENT_SECRET=super-secret

APP_DOMAIN=localhost
NEXTAUTH_URL=http://${APP_DOMAIN}:3000
NEXTAUTH_SECRET=super-secret
KEYCLOAK_DOMAIN=${APP_DOMAIN}
KEYCLOAK_ISSUER=http://${KEYCLOAK_DOMAIN}:8080/realms/${KEYCLOAK_REALM}
NEXT_PUBLIC_API_BASE_URL=http://${APP_DOMAIN}:3000/api/trpc


# Supabase REST API URL and keys (required for supabase-js client)
SUPABASE_URL=http://localhost:8000
SUPABASE_ANON_KEY=your-local-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-local-service-role-key

# Realtime WebSocket URL
NEXT_PUBLIC_REALTIME_URL=ws://${APP_DOMAIN}:4000/socket

LOG_LEVEL=debug