services:
    db:
        image: postgres:15-alpine
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
        ports:
            - '5432:5432'
        healthcheck:
            test: ['CMD-SHELL', 'pg_isready -U ${POSTGRES_USER}']
            interval: 10s
            timeout: 3s
            retries: 10
        container_name: polysim-dev-db
        command: postgres -c wal_level=logical

    realtime:
        image: supabase/realtime:v2.30.23
        environment:
            DB_HOST: db
            DB_PORT: 5432
            DB_USER: ${POSTGRES_USER}
            DB_PASSWORD: ${POSTGRES_PASSWORD}
            DB_NAME: ${POSTGRES_DB}
            DB_SSL: 'false'
            PORT: 4000
            REPLICATION_MODE: RLS
            REPLICATION_POLL_INTERVAL: 100
            SECURE_CHANNELS: 'false'
            SLOT_NAME: supabase_realtime_rls
            TEMPORARY_SLOT: 'true'
        ports:
            - '4000:4000'
        depends_on:
            db:
                condition: service_healthy
        container_name: polysim-dev-realtime

    keycloak:
        image: quay.io/keycloak/keycloak:26.3.4
        environment:
            KC_DB: dev-mem
            KC_BOOTSTRAP_ADMIN_USERNAME: admin
            KC_BOOTSTRAP_ADMIN_PASSWORD: admin
            KC_HOSTNAME: localhost
            KC_HTTP_ENABLED: true
            KC_HEALTH_ENABLED: true
            KC_PROXY_HEADERS: xforwarded
            KC_RUN_IN_CONTAINER: true
            KC_HOSTNAME_STRICT: false
            KC_HOSTNAME_STRICT_HTTPS: false
        volumes:
            - ./keycloak/themes:/opt/keycloak/themes
            - ./keycloak/data/devImport:/opt/keycloak/data/import/
        command: start-dev --import-realm --verbose
        healthcheck:
            test:
                [
                    'CMD-SHELL',
                    "exec 3<>/dev/tcp/127.0.0.1/9000; echo -e 'GET /health/ready HTTP/1.1\\r\\nHost: localhost:9000\\r\\nConnection: close\\r\\n\\r\\n' >&3; cat <&3 | grep -q '\"status\": \"UP\"' && exit 0 || exit 1",
                ]
            interval: 10s
            timeout: 3s
            retries: 10
        ports:
            - '8080:8080'
        container_name: polysim-dev-keycloak
